<link rel="stylesheet" type="text/css" href="/static/css/styles.css">

<!--HTML-->
<nav id="navbar" class="navbar sticky-top">

    <div class="animo">
        {{#if heading }}
            <a href="/">{{ heading }}</a>
        {{else}}
            <a href="/">Animo</a>
        {{/if}}
    </div>

    {{#if showSearchBar }}
        
    {{else}}
        <form class="search-bar" action="/search" method="POST">
            <img class="search-icon" src="/static/assets/icons8-search-100.png" alt="Search Icon">
            <input type="text" name="searchText" placeholder="I am looking for...">
        </form>
    {{/if}}

    <div class="nav-user {{#if user}}loggedin{{/if}}">
        {{#if user}}
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{#if user.profilePicturePath }}
                        <img src="/static/assets/profpics/{{ user.profilePicturePath }}" alt="Profile Picture" id="nav-user-icon">
                    {{else}}
                        <img src="/static/assets/profpics/default.jpg" id="nav-user-icon">
                    {{/if}}
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/user"><button id="nav-dashboard" class="dropdown-item" type="button">Profile</button></a></li>
                    <li><a href="/editprofile"><button id="nav-editprofile" class="dropdown-item" type="button">Edit Profile</button></a></li>
                    <li><a href="/logout"><button id="nav-logout" class="dropdown-item" type="button">Log Out</button></a></li>
                </ul>
            </div>
        {{else}}
            <a href="/login"><button id="btn-login" type="button" class="btn btn-light">Log In</button></a>
        {{/if}}
    </div>
</nav>