<!--CSS-->
<link rel="stylesheet" type="text/css" href="static/css/editprofile-style.css">
{{!-- <link rel="stylesheet" type="text/css" href="css/style.css"> --}}

<!--Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<!--HTML-->
{{> navbar user=user }}

<div class="edit-profile-main-div">
  <h1>Edit Profile</h1>

  <div class="container">

    <!--Display Profile Picture-->
    <div class="profile-container">
      <form action="/editprofile?_method=POST" method="POST" enctype="multipart/form-data">
        <label for="uploadimage" class="profile-picture" id="imagePreview" style="background-image: url('/static/assets/profpics/{{ user.profilePicturePath }}');">
          <input type="file" id="uploadimage" name="profilePicture" accept="image/*">
          <span>Edit Profile Picture</span>
        </label>
        </br>
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your new username" value="{{user.username}}">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your new email" value="{{user.email}}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your new password" value="{{user.password}}">

        <label for="idnum">ID Number:</label>
        <input type="number" id="idnum" name="id_num" placeholder="Enter your new ID Number" value="{{user.id_num}}">

        <label for="College">College:</label>
        <select name="college" id="dropdown">
          <option value="">-</option>
          <option value="bagced" {{#when user.college 'eq' 'bagced'}}selected{{/when}}>BAGCED</option>
          <option value="ccs" {{#when user.college 'eq' 'ccs'}}selected{{/when}}>CCS</option>
          <option value="tdsol" {{#when user.college 'eq' 'tdsol'}}selected{{/when}}>TDSOL</option>
          <option value="cla" {{#when user.college 'eq' 'cla'}}selected{{/when}}>CLA</option>
          <option value="cos" {{#when user.college 'eq' 'cos'}}selected{{/when}}>COS</option>
          <option value="gcoe" {{#when user.college 'eq' 'gcoe'}}selected{{/when}}>GCOE</option>
          <option value="cob" {{#when user.college 'eq' 'cob'}}selected{{/when}}>COB</option>
          <option value="soe" {{#when user.college 'eq' 'soe'}}selected{{/when}}>SOE</option>
        </select>

        <label for="Course">Course:</label>
        <input type="text" id="course" name="course" placeholder="Enter your new course" value="{{user.course}}">

        <p id="error-message">{{ error }}</p>

        <!--Buttons-->
        <div class="buttons-container">
          <input class="edit-profile-submit" type="submit" value="Save">
        </div>
      </form>
      <!--Delete User Form-->
      <form action="/editprofile?_method=DELETE" method="POST" class="ep-reset-button">
        <input class="delete-profile-submit" type="submit" value="Delete User">
      </form>
    </div>
  </div>
</div>

<script src="/static/js/imagepreview.js"></script>
