<!--CSS-->
<link rel="stylesheet" type="text/css" href="static/css/style.css">

<!--Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<!--JS-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/like.js" ></script>
<script src="/static/js/post.js" ></script>

{{> navbar user=user }}

<!--HEADER-->
<div class="header-communitypage">
    <div class="container">
        <div class="img-container">
            {{#if community.image }}
                <img src="/static/assets/coverpics/{{ community.image }}" alt="...">
            {{else}}
                <img src="/static/assets/coverpics/default.jpg" alt="...">
            {{/if}}
        </div>
        <div class="header-communitypage-text">
            <div class="title-communitypage">
                <span>{{ community.name }}</span>
                {{#when user._id 'eq' community.creator}}
                    <a href="/community/edit/{{ community.name }}" class="btn-edit-community"><object data="/static/assets/pen-to-square-solid.svg" type="image/svg+xml"></object></a>
                {{/when}}
            </div>
            <div class="subtitle-communitypage">
                <span>{{ community.tagline }}</span>
            </div>
        </div>
    </div>
</div>

<!--MAIN BODY-->
<div class="container mainbody-communitypage">
    <div class="row">

        <!--DASHBOARD-->
        <div class="col-md-3">
            <div class="dashboard-container">
                <div class="dashboard-title">
                    <span>Dashboard</span>
                </div>
                <div class="dashboard-content">
                    <hr>
                    <h5 class="dashboard-communitytitle">{{ community.name }}</h5>
                    <span>{{ community.description }}</span>
                    <hr>
                    <!--Links-->
                    <div class="dashboard-content-links">

                        <!--Home Button-->
                        <a href="/" class="dashboard-button" style="padding-top: 0.1rem;"><object data="/static/assets/house-solid.svg" type="image/svg+xml"></object></a>

                        <!--Profile Button-->
                        <a href="/user" class="dashboard-button" style="padding: 0.15rem;"><object data="/static/assets/user-solid.svg" type="image/svg+xml"></object></a>

                        <!--Edit Profile Button-->
                        <a href="/editprofile" class="dashboard-button" style="padding-top: 0.15rem;"><object data="/static/assets/user-pen-solid.svg" type="image/svg+xml"></object></a>

                        <!--Logout Button-->
                        <a href="/logout" class="dashboard-button"><object data="/static/assets/arrow-right-from-bracket-solid.svg" type="image/svg+xml"></object></a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <!--POSTS-->
        <div class="col-md-6">
            <div>
                <!--CREATE POST-->
                {{#if user}}
                    <div class="create-post-innercontainer">
                        <h5>Create Post</h5>
                        <hr>
                        <form class="create-post-form" action="/post/{{community.name}}" method="POST" enctype="multipart/form-data">
                            <label for="title">Title</label>
                            <input class="create-post-form-title" type="text" name="title" placeholder="Enter the title" value="{{post.title}}">

                            <label for="description">Description</label>
                            <textarea class="create-post-form-description" name="description" placeholder="I want to write about...">{{post.description}}</textarea>

                            <!-- Photo Upload Input -->
                            <div class="create-post-form-end">
                                <div>
                                    <input class="create-post-attach-file" type="file" name="attachment" accept="image/*">
                                </div>
                                <div>
                                    <input class="create-post-submit-btn" type="submit" value="Post">
                                </div>
                            </div>

                            <p id="error-message">{{ error }}</p>
                        </form>
                    </div>
                {{else}}
                    <div class="create-post-innercontainer">
                        <h5>Create Post</h5>
                        <hr>
                        <span><a href="/login">Log In</a> to create a post!</span>
                    </div>
                {{/if}}

                <!--POSTS-->
                {{#each posts}}
                    <div class = "post">
                        <div class = "header">
                            {{#if creator.profilePicturePath }}
                                <img class = "pp"; src = "/static/assets/profpics/{{creator.profilePicturePath}}">
                            {{else}}
                                <img class = "pp"; src = "/static/assets/profpics/default.jpg">
                            {{/if}}
                            <div>
                                <div class = "user">
                                    <a href="/user/{{creator.username}}" class="username">{{uppercase creator.username}}</a>
                                </div>
                            </div>
                        </div>
                        {{#if attachment}}
                            <div>
                                <img class = "imgpost"; src = "/static/assets/postpics/{{ attachment }}">
                            </div>
                        {{/if}}
                        <div class = "footer">
                            <a href="/post/{{_id}}" class="post-title">{{title}}</a>
                            <div style="display: none;">{{ _id }}</div>
                            <div class = "desc">
                                <span>{{description}}</span>
                            </div>
                            <div class = "date">
                                {{postDate}}
                            </div>
                            <hr>
                            <!-- Actions for logged-in users -->
                            <span class="actions">
                                <div>
                                    <a href="/post/like/{{_id}}" class="dashboard-button like-button">
                                        {{#in ../user.username likes}}
                                            <object data="/static/assets/heart-solid.svg" type="image/svg+xml" class="like-symbol"></object>
                                        {{else}}
                                            <object data="/static/assets/heart-regular.svg" type="image/svg+xml" class="like-symbol"></object>
                                        {{/in}}
                                        <div>
                                            <span class="actiontext">
                                            {{likes.length}}
                                            </span>
                                        </div>
                                    </a>
                                </div>

                                <a class="comment-collapse-button" href="/post/{{_id}}">
                                    <span class="comment"></span>
                                    <span class="commentsharetext">
                                        Comment
                                    </span>
                                </span>
                                </a>
                            </span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
            
        <!--RELEVANT COMMUNITIES-->
        <div class="col-md-3">
            <div class="relevantcommunities-container">
                <div class="relevantcommunities-title">
                    <span>Communities</span>
                </div>
                {{#if user}}
                    <div class="d-flex justify-content-center align-items-center mb-3" style="margin: 1rem 1rem;">
                        <a class="btn btn-secondary btn-sm" href="/community/create">Create Your Own Community!</a>
                    </div>
                {{else}}
                    <div class="d-flex justify-content-center align-items-center mb-3" style="margin: 1rem 1rem;">
                        <a class="btn btn-secondary btn-sm" href="/login">Log In to Create Your Own</a>
                    </div>
                {{/if}}
                {{!-- <div class="relevantcommunities-content">
                    <ul>
                        <li>
                            <a href="software-technology-community-page.html">Software Technology</a>
                            <br>
                            <span>(100</span>
                            <span class="usernum-icon"><object data="assets/user-solid.svg" type="image/svg+xml"></object></span>
                            <span>followers)</span>
                        </li>
                    </ul>
                </div> --}}
            </div>
        </div>
    </div>
</div>