<!--CSS-->
<link rel="stylesheet" type="text/css" href="static/css/style.css">

<!--Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<!--Script-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{{> navbar user=user }}

<!--MAIN BODY-->
<div class="container mainbody-communitypage">
    <div class="row">

        <!--DASHBOARD-->
        <div class="col-md-3">
            <div class="dashboard-container">
                <div class="dashboard-title">
                    <span>Dashboard</span>
                </div>
                <div class="dashboard-content">
                    <hr>
                    <h5 class="dashboard-communitytitle">{{ post.community.name }}</h5>
                    <span>{{ post.community.description }}</span>
                    <br>
                    <a href="/community/{{ post.community.name }}" class="dashboard-communitylink">View Community</a>
                    <hr>
                    <!--Links-->
                    <div class="dashboard-content-links">

                        <!--Home Button-->
                        <a href="/" class="dashboard-button" style="padding-top: 0.1rem;"><object data="/static/assets/house-solid.svg" type="image/svg+xml"></object></a>

                        <!--Profile Button-->
                        <a href="/user" class="dashboard-button" style="padding: 0.15rem;"><object data="/static/assets/user-solid.svg" type="image/svg+xml"></object></a>

                        <!--Edit Profile Button-->
                        <a href="/editprofile" class="dashboard-button" style="padding-top: 0.15rem;"><object data="/static/assets/user-pen-solid.svg" type="image/svg+xml"></object></a>

                        <!--Logout Button-->
                        <a href="/logout" class="dashboard-button"><object data="/static/assets/arrow-right-from-bracket-solid.svg" type="image/svg+xml"></object></a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <!--POSTS-->
        <div class="col-md-6">
            <div style="margin-top: 1rem;">
                <p class="postpage-text">User post in...</p>
                <h1 class="postpage-title">{{post.community.name}}</h1>
            </div>
            <hr>
            <div class = "post">
                <div class = "header">
                    {{#if post.creator.profilePicturePath }}
                        <img class = "pp"; src = "/static/assets/profpics/{{post.creator.profilePicturePath}}">
                    {{else}}
                        <img class = "pp"; src = "/static/assets/profpics/default.jpg">
                    {{/if}}
                    <div>
                        <div class = "user">
                            <span>
                                <a href="/user/{{post.creator.username}}" class="username">{{uppercase post.creator.username}}</a>
                                {{#when post.creator._id 'eq' user._id}}
                                    <a class="dashboard-button edit-button" style="width: 0.9rem; height: 0.9rem;"><object data="/static/assets/pen-to-square-solid-black.svg" type="image/svg+xml"></object></a>
                                {{/when}}
                            </span>
                        </div>
                    </div>
                </div>
            
                <div class = "footer">
                    <div class="post-content">
                        <a href="/post/{{post._id}}" class="post-title">{{title}}</a>
                        <div class = "desc">
                            <span>{{post.description}}</span>
                        </div>
                        {{#if post.lastEdited}}
                            <div class = "date">
                                LAST EDITED: {{formatDate post.lastEdited}}
                            </div>
                        {{else}}
                            <div class = "date">
                                {{formatDate post.postDate}}
                            </div>
                        {{/if}}
                    </div>

                    <!--EDIT FORM-->
                    <div class="edit-form" style="display: none;">
                        <form class="create-post-form" action="/post/{{post._id}}?_method=PUT" method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <input type="text" id="title" name="title" class="post-title-edit create-post-form-title" value="{{post.title}}">
                            <br>
                            <textarea id="description" name="description" class="desc-edit create-post-form-description">{{post.description}}</textarea>
                            <div id="error-message"></div>
                            <div>
                                <input type="submit" value="Save" class="save-button create-post-submit-btn">
                                <a href="#" id="post-delete-button-main" class="delete-button" data-post-id="{{post._id}}">Delete</a>
                                <button id="post-cancel-button-main" class="cancel-button">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                {{#if post.attachment}}
                    <div>
                        <img class = "imgpost"; src = "/static/assets/postpics/{{post.attachment}}">
                    </div>
                {{/if}}
                <div class="post-actions">
                    <div class = "actions">
                        <div>
                            <!-- Actions for logged-in users -->
                            <span class="actions">
                                <div>
                                    <a href="/post/like/{{post._id}}" class="dashboard-button like-button">
                                        {{#in user.username post.likes}}
                                            <object data="/static/assets/heart-solid.svg" type="image/svg+xml" class="like-symbol"></object>
                                        {{else}}
                                            <object data="/static/assets/heart-regular.svg" type="image/svg+xml" class="like-symbol"></object>
                                        {{/in}}
                                        <div>
                                            <span class="actiontext">
                                            {{post.likes.length}}
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </span>
                        </div>

                        <a class="comment-collapse-button-main" data-bs-toggle="collapse" href="#comment-collapse-{{post._id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class = "comment"></span>
                            <span class="commentsharetext">
                                Comment
                            </span>
                        </a>
                    </div>
                </div>
                <div class="collapse {{#if openComment}}show{{/if}}" id="comment-collapse-{{post._id}}">
                    <div class="create-comment-card card card-body">
                        <div>
                            {{#if user}}
                                <form action="/post/{{post._id}}/comment/" method="POST">
                                    <textarea type="text" name="comment" id="comment-input-post" class="submit-comment-input" placeholder="Enter your comment"></textarea>
                                    <div id="error-message-post" class="error-message"></div>
                                    <button type="submit" class="submit-comment-button">Submit</button>
                                </form>
                            {{else}}
                                <span><a href="/login">Log in</a> to comment.</span>
                            {{/if}}
                        </div>
                        <hr>
                        <div>
                            <!--COMMENT-->
                            {{#each post.children}}
                                <div class="post-comment">
                                    <span class="post-comment-username">{{uppercase creator.username}}: </span>
                                    <div class="post-comment-content">
                                        <span>{{content}}</span>
                                    </div>

                                    <!--EDIT COMMENT FORM-->
                                    <div class="edit-comment-form" style="display: none;">
                                        <form class="edit-comment-form" action="/post/{{../post._id}}/comment/{{_id}}?_method=PUT" method="POST">
                                            <input type="hidden" name="_method" value="PUT">
                                            <textarea name="comment" class="submit-comment-input">{{content}}</textarea>
                                            <p id="error-message-edit" style="color: red;"></p>
                                            <div>
                                                <input type="submit" value="Save" class="save-button">
                                                <a href="#" class="delete-button" data-post-id="{{../post._id}}" data-comment-id="{{_id}}">Delete</a>
                                                <button class="cancel-button">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="date">
                                        <span>
                                            <a class="comment-collapse-button" data-bs-toggle="collapse" href="#commentcollapse-{{_id}}" role="button" aria-expanded="false" aria-controls="collapseExample" data-post-id="{{../post._id}}" data-comment-id="{{_id}}">
                                                View Replies
                                            </a>
                                            &#x2022;
                                            {{#when ../user._id 'eq' creator._id }}
                                                <a href="" class="edit-comment">Edit</a>
                                                &#x2022;
                                            {{/when}}

                                            {{#if lastEdited}}
                                                LAST EDITED: {{formatDate lastEdited}}
                                            {{else}}
                                                {{formatDate postDate}}
                                            {{/if}}
                                        </span>
                                    </div>
                                    <div id="commentcollapse-{{_id}}" class="collapse">
                                        
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--JS-->
<script src="/static/js/scripts.js"></script>
<script src="/static/js/scripts2.js"></script>
<script src="/static/js/like.js"></script>
<script src="/static/js/post.js"></script>