<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
  <h1>Search Results</h1>
  {{#if results.length}}
    {{#each results}}
      <div class="post">
        <div class="header">
      <!-- Display the creator's profile picture -->
      <div class="header">
        {{#if creator.profilePicturePath}}
          <img class="pp" src="/static/assets/profpics/{{creator.profilePicturePath}}">
        {{else}}
          <img class="pp" src="/static/assets/profpics/default.jpg">
        {{/if}}
        <div>
          <div class="user">
            <a href="/user/{{creator.username}}" class="username">{{uppercase creator.username}}</a>
          </div>
        </div>
      </div>
        {{#if attachment}}
          <div>
            <img class="imgpost" src="/static/assets/postpics/{{ attachment }}">
          </div>
        {{/if}}
        <div class="footer">
        <!-- ... (existing HTML content) -->
        <span class="actions">
          <span class="like">
            <span class="likecontainer" id="like"></span>
          </span>
          <span class="actiontext">
            {{likes.length}} Like{{#if (gt likes.length 1)}}s{{/if}}
          </span>
          <!-- ... (other actions) -->
        </span>
      </div>
    {{/each}}
  {{else}}
    <p>No results found.</p>
  {{/if}}
</body>
</html>
